.ant-layout {
  .ant-layout-sider {
    background: #515653;
  }
  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    background: #515453;
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
    .ant-menu-item-selected {
    background: #0e3020;
  }
  .ant-layout-header {
    background: #03361e;
    button {
      border: none;
      color: #fff;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }
  .ant-layout-sider-trigger {
    background: #b3b8b5;
  }
  .dropdown-menu.show {
    a {
      line-height: 30px;
    }
  }
}
.profile-img {
  width: 80px; 
  height: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.admin-dashboard{
  color: #fff;
  margin: 0.9rem;

}
