.Profile {
  .container {
    .row {
  
    }
  }

  @media (max-width: 768px) {
    .container {
      margin-top: 15px;
      .row {
        flex-direction: column;
        .col-4 {
          width: 100%;
        }
        .col-7 {
          width: 100%;
          .bottom {
            .row {
              .col-4 {
                width: 100%;
                img {
                  width: 100%;
                }
              }
              .col-8 {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .container {
      margin-top: 50px;
    }
  }
}

.profile-img {
  width: 80px; 
  height: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.emty-space{
  color: white;
}
.fa-pencil {
  &.text-gray-500 {
    color: #666; // Màu mặc định
    transition: color 0.3s ease; // Hiệu ứng chuyển đổi màu
  }

  &:hover {
    color: #000; // Màu khi hover lên
  }
}